.previewCheckUsers {
  background-color: #ecf0f3;
  box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #fff;
  border: none;
  width: 100%;
  overflow: auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  max-height: 150px;
  overflow-y: scroll;
}
.border {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.border::first-letter {
  font-size: large;
}

.userTag {
  padding: 8px 12px;
  margin-right: 7px;
  margin-bottom: 5px;
  border: 1px solid #15a362;
  border-radius: 10px;
}
.userTagRemove {
  color: #000000;
  font-weight: 700;
  cursor: pointer;
}
