.finder {
  border: 1px solid #fff;
  background-color: #f6f5f0;
  border-radius: 15px;
  padding: 8px;
  box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  width: 92%;
  margin-top: 2%;
}
.finder__outer {
  display: flex;
  width: 549px;
  padding: 0.3rem 2rem;
  border-radius: 10px;
  box-shadow: inset 10px 10px 15px -10px #c3c3c3,
    inset -10px -10px 15px -10px #ffffff;
  width: 100%;
}
.finder__inner {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}
.finder__input {
  height: calc(100% + 3rem);
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.1rem;
  letter-spacing: 0.75px;
}
