* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*::selection {
  background-color: #c7c9ca;
}
.container-finder {
  margin-left: 300px;
  margin-top: 5%;
}

.parentpost {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1200px) {
  .parentpost {
    margin-left: 0px !important;
  }
}